## Import relevant libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline
from datetime import timedelta
from datetime import datetime
from dateutil.relativedelta import relativedelta

### Load the Dataset

In [2]:
df = pd.read_csv('B:/My Works/Data Science/Jenga Kenya/dummy_data.csv', parse_dates = True)
df.head()

,ClientID,Group ID,Client Type,Active,Date Of Birth,Gender,Marital Status,Registration Date,County,NOK Relationship,...,Occupation,Loan ID,Inactive,Loan_Type,Initial_Loan_Date,Loan_Amount,Interest_Rate,Loan_Length,Number_Payments,Time_Between_Payments
0,22,100091.0,Group Client,1.0,5/6/1994 0:00,2.0,SINGLE,9/14/2016,MERU,MOTHER,...,FARMER,2563.0,1,11.0,4/11/2016,3000.0,0.2,12.0,50.0,1.0
1,23,100003.0,Group Client,0.0,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24,100003.0,Group Client,1.0,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,2564.0,1,2.0,6/22/2015,60000.0,0.2,12.0,50.0,1.0
3,25,100003.0,Group Client,0.0,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,4.0,1,9.0,8/26/2011,10000.0,0.2,12.0,50.0,1.0
4,26,100003.0,Group Client,0.0,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,1520.0,1,9.0,6/24/2013,27500.0,0.2,12.0,50.0,1.0

In [3]:
#df.drop(['Unnamed: 0_x','Unnamed: 0_y','Jenga_Cheque_#'], axis=1, inplace=True)

In [4]:
df.describe()

,ClientID,Group ID,Active,Gender,Loan ID,Loan_Type,Loan_Amount,Interest_Rate,Loan_Length,Number_Payments,Time_Between_Payments
count,5719.000000,5716.000000,5718.000000,5401.000000,4009.000000,4009.000000,4003.000000,4009.000000,4009.000000,4009.000000,4009.000000
mean,2911.913796,100147.415675,0.816544,1.726717,7475.930157,6.910202,21062.157132,0.180382,10.586181,40.940883,1.082814
std,1673.574042,96.839563,0.387074,0.445686,4437.947642,3.409131,30442.526176,0.042058,3.022309,15.153893,0.275635
min,22.000000,100001.000000,0.000000,1.000000,4.000000,1.000000,0.000000,0.050000,1.000000,4.000000,1.000000
25%,1466.500000,100056.000000,1.000000,1.000000,3694.000000,5.000000,4500.000000,0.200000,12.000000,24.000000,1.000000
50%,2905.000000,100144.000000,1.000000,2.000000,6868.000000,9.000000,12000.000000,0.200000,12.000000,50.000000,1.000000
75%,4347.500000,100232.000000,1.000000,2.000000,11993.000000,9.000000,26167.000000,0.200000,12.000000,50.000000,1.000000
max,5841.000000,100330.000000,1.000000,2.000000,14479.000000,12.000000,731500.000000,0.400000,24.000000,100.000000,2.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5719 entries, 0 to 5718
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ClientID                     5719 non-null   int64
 1   Group ID                     5716 non-null   float64
 2   Client Type                  5693 non-null   object
 3   Active                       5718 non-null   float64
 4   Date Of Birth                3783 non-null   object
 5   Gender                       5401 non-null   float64
 6   Marital Status               3613 non-null   object
 7   Registration Date            1714 non-null   object
 8   County                       1768 non-null   object
 9   NOK Relationship             3124 non-null   object
 10  Main Economic Activity       2816 non-null   object
 11  Client Location              2770 non-null   object
 12  Secondary Economic Activity  1618 non-null   object
 13  Occupation                   1073 non-null   object
 14  Loan ID                      4009 non-null   float64
 15  Inactive                     4009 non-null   object
 16  Loan_Type                    4009 non-null   float64
 17  Initial_Loan_Date            4005 non-null   object
 18  Loan_Amount                  4003 non-null   float64
 19  Interest_Rate                4009 non-null   float64
 20  Loan_Length                  4009 non-null   float64
 21  Number_Payments              4009 non-null   float64
 22  Time_Between_Payments        4009 non-null   float64
dtypes: float64(10), int64(1), object(12)
memory usage: 1.0+ MB

### Preprocessing

In [6]:
#find the null values
df.isnull().sum()

ClientID                          0
Group ID                          3
Client Type                      26
Active                            1
Date Of Birth                  1936
Gender                          318
Marital Status                 2106
Registration Date              4005
County                         3951
NOK Relationship               2595
Main Economic Activity         2903
Client Location                2949
Secondary Economic Activity    4101
Occupation                     4646
Loan ID                        1710
Inactive                       1710
Loan_Type                      1710
Initial_Loan_Date              1714
Loan_Amount                    1716
Interest_Rate                  1710
Loan_Length                    1710
Number_Payments                1710
Time_Between_Payments          1710
dtype: int64

In [7]:
# fill the missing vallues for numerical terms - mean
df['Loan_Amount'] = df['Loan_Amount'].fillna(df['Loan_Amount'].mean())
df['Loan_Length'] = df['Loan_Length'].fillna(df['Loan_Length'].mode()[0])

In [8]:
df['Active'].mode()[0]

1.0

In [9]:
# fill the missing values for categorical and ordinal terms - mode
df['Group ID'] = df['Group ID'].fillna(df['Group ID'].mode()[0])
df['Client Type'] = df['Client Type'].fillna(df['Client Type'].mode()[0])
df['Active'] = df['Active'].fillna(df['Active'].mode()[0])
df['Date Of Birth'] = df['Date Of Birth'].fillna(df['Date Of Birth'].mode()[0])
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])
df['Marital Status'] = df['Marital Status'].fillna(df['Marital Status'].mode()[0])
df['Registration Date'] = df['Registration Date'].fillna(df['Registration Date'].mode()[0])
df['County'] = df['County'].fillna(df['County'].mode()[0])
df['NOK Relationship'] = df['NOK Relationship'].fillna(df['NOK Relationship'].mode()[0])
df['Main Economic Activity'] = df['Main Economic Activity'].fillna(df['Main Economic Activity'].mode()[0])
df['Client Location'] = df['Client Location'].fillna(df['Client Location'].mode()[0])
df['Secondary Economic Activity'] = df['Secondary Economic Activity'].fillna(df['Secondary Economic Activity'].mode()[0])
df['Occupation'] = df['Occupation'].fillna(df['Occupation'].mode()[0])
df['Loan ID'] = df['Loan ID'].fillna(df['Loan ID'].mode()[0])
df['Inactive'] = df['Inactive'].fillna(df['Inactive'].mode()[0])
df['Loan_Type'] = df['Loan_Type'].fillna(df['Loan_Type'].mode()[0])
df['Initial_Loan_Date'] = df['Initial_Loan_Date'].fillna(df['Initial_Loan_Date'].mode()[0])
df['Interest_Rate'] = df['Interest_Rate'].fillna(df['Interest_Rate'].mode()[0])
df['Number_Payments'] = df['Number_Payments'].fillna(df['Number_Payments'].mode()[0])
df['Time_Between_Payments'] = df['Time_Between_Payments'].fillna(df['Time_Between_Payments'].mode()[0])

In [10]:
df.isnull().sum()

ClientID                       0
Group ID                       0
Client Type                    0
Active                         0
Date Of Birth                  0
Gender                         0
Marital Status                 0
Registration Date              0
County                         0
NOK Relationship               0
Main Economic Activity         0
Client Location                0
Secondary Economic Activity    0
Occupation                     0
Loan ID                        0
Inactive                       0
Loan_Type                      0
Initial_Loan_Date              0
Loan_Amount                    0
Interest_Rate                  0
Loan_Length                    0
Number_Payments                0
Time_Between_Payments          0
dtype: int64

In [11]:
#df.to_csv(r'B:/My Works/Data Science/Jenga Kenya/CHECK.csv',index=True)

### Exploratory Data Analysis

sns.countplot(df['Client Type'])

sns.countplot(df['Active'])

sns.countplot(df['Gender'])

sns.countplot(df['Marital Status'])

sns.countplot(df['Loan_Type'])

sns.displot(df['Loan_Length'])

sns.displot(df['Loan_Amount'])

# apply log transformation to the attribute
df['Loan_Amount'] = np.log(df['Loan_Amount'])

sns.displot(df['Loan_Amount'])
sns.displot(df[np.isfinite(df['Loan_Amount'])].values)

### Create additional attributes
 - Age
 - DOB day
 - DOB month
 - DOB year
 - Disbursal day (Initial Loan date)
 - Client duration
 - Number of subsequent Loans

In [12]:
class LoanCustomFeatures:
    def __init__(self, df):
        self.df = df
    
    def date_based_features(self):
        self.df['Date Of Birth'] = pd.to_datetime(self.df['Date Of Birth'])
        self.df['day'] = self.df['Date Of Birth'].dt.day
        self.df['month'] = self.df['Date Of Birth'].dt.month
        self.df['year'] = self.df['Date Of Birth'].dt.year
        
        #Calculate the age of the client at the time of disbursement.
        self.df['Initial_Loan_Date'] = pd.to_datetime(self.df['Initial_Loan_Date'])
        self.df['dis_day'] = self.df['Initial_Loan_Date'].dt.day
        self.df['age'] = self.df(['Initial_Loan_Date'] - df['Date Of Birth'])
        self.df['age'] = self.df['age'].dt.days
        self.df.drop(columns = ['Date Of Birth', 'Initial_Loan_Date'], inplace=True) 
        return self.df

In [13]:
for df in [df]:
    loan_feature = LoanCustomFeatures(df)
    df = loan_feature.date_based_features()
    df

TypeError: unsupported operand type(s) for -: 'DatetimeArray' and 'list'

## Label Encoding